captureServer/Debug/captureServer.log
captureServer/Debug/captureServer.tlog/captureServer.lastbuildstate
captureServer/Debug/captureServer.tlog/cl.command.1.tlog
captureServer/Debug/captureServer.tlog/CL.read.1.tlog
captureServer/Debug/captureServer.tlog/CL.write.1.tlog
captureServer/Debug/captureServer.tlog/link.read.1.tlog
captureServer/Debug/captureServer.tlog/link.command.1.tlog
captureServer/Debug/css_cmd_route.obj
*.obj
captureServer/Debug/captureServer.tlog/link.write.1.tlog
captureServer/Debug/vc120.idb
*.exe
captureServer/Debug/vc120.pdb
Debug/captureServer.ilk
Debug/libcapture.dll
Debug/libcapture.ilk
Debug/captureServer.pdb
Debug/MFC_test.ilk
Debug/libcapture.pdb
Debug/run_test.pdb
Debug/libuv.dll
libcapture.opensdf
libcapture/Debug/libcapture.log
*.tlog
libcapture/Debug/libcapture.pch
libcapture/Debug/vc120.idb
*.asm
libcapture/Release/libcapture.Build.CppClean.log
Debug/libcapture.exp
Debug/libcapture.lib
Debug/run_test.ilk
libcapture/Debug/libcapture.Build.CppClean.log
ipch/mfc_test-42fbd151/mfc_test-df88b801.ipch
libcapture/Release/libcapture.pch
libcapture.sdf
libcapture/Release/vc120.pdb
Debug/MFC_test.pdb
libcapture/Release/libcapture.log
MFC_test/1.mpg
libcapture/Debug/vc120.pdb
MFC_test/Debug/MFC_test.res
MFC_test/MFCfile.264
MFC_test/Release/MFC_test.log
run_test/Debug/vc120.idb
MFC_test/Release/vc120.pdb
MFC_test/MFCfile2.264
MFC_test/Debug/MFC_test.Build.CppClean.log
MFC_test/Debug/MFC_test.log
MFC_test/Debug/MFC_test.pch
MFC_test/Debug/vc120.idb
MFC_test/Debug/vc120.pdb
MFC_test/MFCfile.mpg
MFC_test/MFCfile1.264
MFC_test/Release/MFC_test.Build.CppClean.log
MFC_test/Release/MFC_test.pch
MFC_test/Release/MFC_test.res
MFC_test/test.264
MFC_test/test.aac
run_test/Debug/run_test.Build.CppClean.log
run_test/Debug/run_test.log
run_test/Debug/vc120.pdb
server/Debug/captureServer.log
/libcapture.v12.suo
